@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica-rounded-bold';
    src: url('/helvetica-rounded-bold.woff') format('woff');
}

* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /* cursor: default !important; */
}